<h1>Liste des livres</h1>

<div class="actions">
  <a routerLink="/create" class="btn primary">Ajouter un livre</a>
</div>

<table class="table" *ngIf="books.length > 0">
  <thead>
  <tr>
    <th>ID</th>
    <th>Titre</th>
    <th>Auteur</th>
    <th>Année</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let book of books">
    <td>{{ book.id }}</td>
    <td>{{ book.titre }}</td>
    <td>{{ book.auteur }}</td>
    <td>{{ book.annee }}</td>
    <td>
      <button class="btn btn-primary" [routerLink]="['/edit', book.id]">Modifier</button>
      <button class="btn btn-danger" (click)="delete(book.id!)">Supprimer</button>
    </td>
  </tr>
  </tbody>
</table>

<p *ngIf="books.length === 0">
  Aucun livre pour le moment.
</p>
