.navbar {
  background: #1976d2;
  padding: 12px 20px;
  display: flex;
  align-items: center;
}

.brand {
  color: white;
  font-size: 20px;
  text-decoration: none;
  margin-right: 30px;
  font-weight: bold;
}

.menu .link {
  color: white;
  text-decoration: none;
  font-size: 15px;

  &:hover {
    text-decoration: underline;
  }
}
